<app-header></app-header>
<main class="container-fluid">
  <div class="row mt-2">
    <div class="col-4">
      <app-ingredients></app-ingredients>
    </div>
    <div class="col-4">
      <app-burger></app-burger>
    </div>
  </div>
</main>
